.product-list-container{
    max-width: 600px;
    float: left;
    padding:15px;
    margin-left: 50px;;
}

.card-container{
    width: 300px;
    display: inline-block;
}

.product-card{
    height:130px;
}

.card-action{
    margin-left: 15px;
}

.no-products{
    color:Red;
    font-size: 20pt;
}