<div class="product-list-container">
    <ng-container *ngIf="productDetails && productDetails.length>0; else notfound">
        <div class="card-container" *ngFor="let product of productDetails">
            <mat-card class="product-card">
                <mat-card-header>
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions class="card-action">
                    <button mat-raised-button color="primary" class="button">Select Product</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </ng-container>
    <ng-template #notfound>
        <p class="no-products">No Products to display</p>
    </ng-template>
    
</div>